@font-face {
    font-family: evogria;
    src: url(../fonts/Evogria.otf);
}

@font-face {
    font-family: mermaid;
    src: url(../fonts/Mermaid1001.ttf);
}

@font-face {
    font-family: palatino;
    src: url(../fonts/Palatino.ttc);
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
      left: 10%;
      top: 60%;
      width: 500px;
      height: 500px;
      padding: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  a {
      text-decoration: none;
      color: black;
      font-family: palatino;
      font-size: 1.5em;
    
  }

  li a {
      display: inline-block;
  }

  nav {
      width: 100%;
      padding-top: 3%;
  }

 nav ul li {
     display: inline-block;
     position: relative;
     top: 20%;
     left: 30%;
     margin-right: 15%;
 }

 .cool-hover::after {
     content: " ";
     display: block;
     width: 0;
     height: 2px;
     background: red;
     transition: width .3s;
 }

 .cool-hover:hover::after {
     width: 100%;
     transition: width .3s;
 }



  h1 {
      font-family: evogria;
      font-size: 5.2em;
      margin: 0;
      padding: 0;
      text-align: left;
      position: absolute;
      top: 40%;
      left: 3%;
      transform: translateX(-60%);
      transform: rotate(70deg);
  }

  h2 {
      font-family: mermaid;
      font-weight: lighter;
      font-size: 1.6em;
      margin: 0;
      padding: 0;
      text-align: left;
      position: absolute;
      top: 90%;
      left: 7%;
      letter-spacing: 2px;
  }

   h1 {
    opacity: 0;
    animation: .5s fadeUp .5s forwards;
}

   h2 {
    opacity: 0;
    animation: fadeIn .7s forwards;
}

h1, h2 {
    opacity: 0;
    animation: .5s fade 1s forwards;
}

@keyframes fadeIn {
    0%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
  