@font-face {
    font-family: evogria;
    src: url(../fonts/Evogria.otf);
}

@font-face {
    font-family: mermaid;
    src: url(../fonts/Mermaid1001.ttf);
}

@font-face {
    font-family: palatino;
    src: url(../fonts/Palatino.ttc);
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    position: static;
    text-align: center;
     top: 200px;
     width: 200px;
     height: 300px;
     padding: 20px;
 }

 .swiper-slide img {
     width: 200px;
     height: 300px;
 }

 .swiper-pagination {
     position: static;
     text-align: center;
 }

 .swiper-button-prev,
 .swiper-button-next {
     top: 290px;
 }

 h1 {
     font-size: 3em;
     color: red;
     top: 70%;
     left: 15%;
     transform: rotate(5deg);
     text-align: center;
     position: absolute;
 }

 h2 {
     font-family: 'mermaid';
     font-weight: lighter;
     text-align: center;
     position: absolute;
     letter-spacing: 2px;
     top: 81.2%;
     left: 25%;
 }

 nav {
     width: 100%;
     padding-top: 3%;
 }

 
nav ul li {
    display: inline-block;
    position: relative;
    top: 20%;
    left: 15%;
    margin-right: 5%;
}

.nav .overlay ul li a {
   display: block;
   font-size: 1.3em;
   transition: all 650ms;
}
 a {
     text-decoration: none;
     color: red;
 }

 span {
     color: black;
 }

 .cool-hover::after {
     content: " ";
     display: block;
     width: 0;
     height: 2px;
     background: black;
     transition: width .3s;
 }

 .cool-hover:hover::after {
     width: 100%;
     box-shadow: grey;
     transition: width .3s;
 }
  
  

  /*Media queries*/
  @media screen and (min-width: 769px) { 
   
    /* STYLES GO HERE */
    body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
      position: absolute;
      left: 40%;
      top: 30%;
      width: 500px;
      height: 500px;
      padding: 10px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
      width: 350px;
      height: 400px;
  }

  .swiper-pagination {
      top: 81%;
      position: absolute;
  }

  a {
      text-decoration: none;
      color: black;
      font-family: palatino;
      font-size: 1.5em;
    
  }

  li a {
      display: inline-block;
  }

  nav {
      width: 100%;
      padding-top: 3%;
  }

  
 nav ul li {
     display: inline-block;
     position: relative;
     top: 20%;
     left: 30%;
     margin-right: 15%;
 }

 .nav .overlay ul li a {
    display: block;
    font-size: 2rem;
    transition: all 650ms;
}

 .cool-hover::after {
     content: " ";
     display: block;
     width: 0;
     height: 2px;
     background: red;
     transition: width .3s;
 }

 .cool-hover:hover::after {
     width: 100%;
     transition: width .3s;
 }



  h1 {
      font-family: evogria;
      font-size: 5.2em;
      margin: 0;
      padding: 0;
      text-align: left;
      position: absolute;
      top: 40%;
      left: .1%;
      /*transform: translateX(-60%);*/
      transform: rotate(70deg);
  }

  h2 {
      font-family: mermaid;
      font-weight: lighter;
      font-size: 1.6em;
      margin: 0;
      padding: 0;
      text-align: left;
      position: absolute;
      top: 90%;
      left: 7%;
      letter-spacing: 2px;
  }}